
<div class="signup-body">
    <div class="main">  	
        <div class="signup">
            <form (ngSubmit)="onSignUp()">
                <input type="text" name="UserName" #UserName = "ngModel" [(ngModel)]="signupObj.UserName" placeholder="Username" minlength="8" required>
                <div class="text-danger" *ngIf = "UserName.invalid && (UserName.touched || UserName.dirty) ||issubmit ">
                    <span *ngIf = "UserName.errors?.['required']">This is required</span>
                    <span *ngIf = "UserName.errors?.['minlength']">Min 8 characters needed</span>
                </div>
                <input type="text" name="FirstName" #FirstName = "ngModel" [(ngModel)]="signupObj.FirstName" placeholder="First name" required>
                <div class="text-danger" *ngIf = "FirstName.invalid && (FirstName.touched || FirstName.dirty)||issubmit">
                    <span *ngIf = "FirstName.errors?.['required']">This is required</span>
                </div>
                <input type="text" #LastName = "ngModel" name="LastName" [(ngModel)]="signupObj.LastName" placeholder="Last name" required>
                <div class="text-danger" *ngIf = "LastName.invalid && (LastName.touched || LastName.dirty)||issubmit">
                    <span *ngIf = "LastName.errors?.['required']">This is required</span>
                </div>
                <input type="email" name="Email" #Email = "ngModel" [(ngModel)]="signupObj.Email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <div class="text-danger" *ngIf = "Email.invalid && (Email.touched || Email.dirty)||issubmit">
                    <span *ngIf = "Email.errors?.['required']">This is required</span>
                    <span *ngIf = "Email.errors?.['pattern']">Email is not in valid form</span>
                </div>
                <input type="password" #Password = "ngModel" name="Password" [(ngModel)]="signupObj.Password"  placeholder="Password" minlength="8" required>
                <div class="text-danger" *ngIf = "Password.invalid && (Password.touched || Password.dirty)||issubmit">
                    <span *ngIf = "Password.errors?.['required']">This is required</span>
                    <span *ngIf = "Password.errors?.['minlength']">Min 8 characters needed</span>
                </div>
                <input type="text" name="Role" #Role = "ngModel" [(ngModel)]="signupObj.Role" placeholder="Role" required>
                <div class="text-danger" *ngIf = "Role.invalid && (Role.touched || Role.dirty)||issubmit">
                    <span *ngIf = "Role.errors?.['required']">This is required</span>
                </div>
                <button type="submit">Sign up</button>
            </form>
            <p>Already a member? <a href routerLink="/login">Back to Login</a></p>
        </div>
    </div>
</div>
